---
---

@import "{{ site.theme }}";

/** Default beau.sh Page Theme **/
$theme-default-primary:       #3AB0FF;
$theme-default-secondary:     #FFB562;
$theme-default-trinary:       #F87474;
$theme-default-background:    #F9F2ED;
$theme-default-text-color:    #323232;
$theme-default-link-color:    #FFB562;
$theme-default-hlink-color:   #F87474;
$theme-default-vlink-color:   #FF8862;
/** Sage.af Project Page Theme **/
$theme-sage-primary:       #B91646;
$theme-sage-secondary:     #105652;
$theme-sage-trinary:       #FBF3E4;
$theme-sage-background:    #FDFAF5;
$theme-sage-text-color:    #323232;
$theme-sage-link-color:    #ADDFB3;
$theme-sage-hlink-color:   #8ABD91;
$theme-sage-vlink-color:   #9CAF88;

/** Retro Rainbow Text **/
$theme-retro-wave-one:           #C82F3E;
$theme-retro-wave-two:           #DF453B;
$theme-retro-wave-three:         #D45E20;
$theme-retro-wave-four:          #EA9F1C;
$theme-retro-wave-five:          #F0C71D;
$theme-retro-wave-background:    #F9F0E3;

/** Emoji maps **/
$symbol-good:       "🟢";
$symbol-bad:        "🔴";
$symbol-issue:      "🟡";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: $theme-default-text-color;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 80%);
  background-color: $theme-default-background;
  overflow: hidden;
}

a {
  color: $theme-default-link-color;
}

a:hover {
  color: $theme-default-hlink-color;
}

a:visited {
  color: $theme-default-vlink-color;
}

/** Sage.af Project Page **/
.sage {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: $theme-sage-text-color;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 80%);
  background-color: $theme-sage-background;

  a {
    color: $theme-sage-link-color;
  }

  a:hover {
    color: $theme-sage-hlink-color;
  }

  a:visited {
    color: $theme-sage-vlink-color;
  }
}

/* Hiding some Theme stuff */
footer {
  display: none;
}

hr {
    display: none;
}

header {
  display: none;
}

/** Art **/
.header-rainbow-retro {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #F9F0E3;
  text-shadow: -2px -2px 0 #323232,
               -2px -1px 0 #323232,
               -2px 0px 0 #323232,
               -2px 1px 0 #323232,
               -2px 2px 0 #323232,
               -1px -2px 0 #323232,
               -1px -1px 0 #323232,
               -1px 0px 0 #323232,
               -1px 1px 0 #323232,
               -1px 2px 0 #323232,
               0px -2px 0 #323232,
               0px -1px 0 #323232,
               0px 0px 0 #323232,
               0px 1px 0 #323232,
               0px 2px 0 #323232,
               1px -2px 0 #323232,
               1px -1px 0 #323232,
               1px 0px 0 #323232,
               1px 1px 0 #323232,
               1px 2px 0 #323232,
               2px -2px 0 #323232,
               2px -1px 0 #323232,
               2px 0px 0 #323232,
               2px 1px 0 #323232,
               2px 2px 0 #323232,
               -4px 4px $theme-retro-wave-one,
               -8px 8px $theme-retro-wave-two,
               -12px 12px $theme-retro-wave-three,
               -16px 16px $theme-retro-wave-four,
               -20px 20px $theme-retro-wave-five;
}

.rainbow-retro {
  position: absolute;
  width: 50vw;
  height: 25vw;
  overflow: hidden;
  background: transparent;
  right: -25vw;
  top: -1vw;
  rotate: 180deg;
}

.rainbow-retro:after {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  top: 12.5vw;
  left: 12.5vw;
  border-radius: 50%;
  box-shadow:
    0 0 0 2vw $theme-retro-wave-one,
    0 0 0 4vw $theme-retro-wave-two,
    0 0 0 6vw $theme-retro-wave-three,
    0 0 0 8vw $theme-retro-wave-four,
    0 0 0 10vw $theme-retro-wave-five;
}


/** Plant Animation Thing **/
$plant-border: #99CBA7;
$plant-fill: #B0E4BF;
$flowerpot-color1: #5E390E;
$flowerpot-color2: #593009;

.planter-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height:10vh;
}

.planter-base {
	position:relative;
	display:block;
	width:110px;
}

.planter-flowerpot {
	position:relative;
	width:100%;
	height:70px;
	overflow:hidden;
	background-image: 
      linear-gradient(50deg, white 20px, white 21px, transparent 20px),
      linear-gradient(310deg, white 20px, $flowerpot-color1 21px, $flowerpot-color1 100%);

	
		&:after {
			content: " ";
			position:absolute;
			display:block;
			left:30px;
			top:-5px;
			width:60px;
			height:90px;
			background:linear-gradient(285deg, $flowerpot-color1 20px, $flowerpot-color2 21px, $flowerpot-color2 100%);
			transform:rotate(50deg);
		}
	}

.planter-plant-blade {
	position:absolute;
	bottom:40px;
	overflow:hidden;
	transform-origin:50% 100%;
	z-index:-1;
	
	&:before, &:after {
		content:"";
		position:absolute;
		top:0;
		border-top:0;
		border-radius:50%;
	}
}

.planter-plant-blade-left-s {
	height:60px;
	width:50px;
	left:-15px;
	animation: planter-plant-kf-wave-a-little 3s infinite ease-in-out;
	&:before {
		right:0;
		height:50px;
		width:90px;
		border-right: 20px solid $plant-border;
	}
	
	&:after {
		top:1px;
		right:6px;
		height:120px;
		width:90px;
		transform: rotateZ(15deg);
		border-right: 18px solid $plant-fill;
	}
} 

.planter-plant-blade-left-l {
	height:100px;
	width:80px;
	left:-30px;
	animation: planter-plant-kf-wave-a-little-more 4s infinite ease-in-out;
	&:before {
		right:2px;
		height:190px;
		width:160px;
		border-right: 25px solid $plant-border;
		transform: rotateZ(20deg);
	}
	
	&:after {
		right:7px;
		height:190px;
		width:160px;
		border-right: 18px solid $plant-fill;
		transform: rotateZ(25deg);
	}
}

.planter-plant-blade-right-s {
	height:50px;
	width:80px;
	right:-35px;
	animation: planter-plant-kf-wave-a-little-more 3.2s -0.5s infinite ease-in-out;
	&:before {
		left:0;
		height:190px;
		width:100px;
		border-left: 22px solid $plant-border;
	}
	
	&:after {
		left:15px;
		height:190px;
		width:100px;
		border-left: 13px solid $plant-fill;
		transform: rotateZ(-10deg);
	}
}

.planter-plant-blade-right-l {
	height:75px;
	width:80px;
	right:-22px;
	animation: planter-plant-kf-wave-a-little 3.2s -1s infinite ease-in-out;
	&:before {
		left:0;
		height:190px;
		width:160px;
		border-left: 26px solid $plant-border;
	}
	
	&:after {
		left:6px;
		height:190px;
		width:160px;
		border-left: 20px solid $plant-fill;
		transform: rotateZ(-10deg);
	}
}


.planter-plant-blade-center {
	height:120px;
	width:90px;
	left:-15px;
	animation: planter-plant-kf-wave-a-little 3s -1.2s infinite ease-in-out;
	&:before {
		right:10px;
		height:240px;
		width:140px;
		border-right: 28px solid $plant-border;
		transform: rotateZ(15deg);
	}
	
	&:after {
		right:15px;
		height:240px;
		width:140px;
		border-right: 17px solid $plant-fill;
		transform: rotateZ(15deg);
	}
} 

@keyframes planter-plant-kf-wave-a-little {
	0% {
		transform: rotateZ(3deg) translateZ(-1px);
	}
	25%{
		transform: rotateZ(-4deg) translateZ(-1px);
	}
	50% {
		transform: rotateZ(2deg) translateZ(-1px);
	}
	75% {
		transform: rotateZ(-6deg) translateZ(-1px);
	}
	100% {
		transform: rotateZ(3deg) translateZ(-1px);
	}
}

@keyframes planter-plant-kf-wave-a-little-more {
	0% {
		transform: rotateZ(0deg) translateZ(-1px);
	}
	25%{
		transform: rotateZ(-3deg) translateZ(-1px);
	}
	50% {
		transform: rotateZ(3deg) translateZ(-1px);
	}
	75% {
		transform: rotateZ(-1deg) translateZ(-1px);
	}
	100% {
		transform: rotateZ(0deg) translateZ(-1px);
	}
}
