---
---

@import "{{ site.theme }}";

/** Default beau.sh Page Theme **/
$theme-default-primary:               #3AB0FF;
$theme-default-secondary:             #FFB562;
$theme-default-trinary:               #F87474;
$theme-default-background:            #F9F2ED;
$theme-default-text-color:            #323232;
$theme-default-link-color:            #FFB562;
$theme-default-hlink-color:           #F87474;
$theme-default-vlink-color:           #FF8862;

/** Sage.af Project Page Theme **/
$theme-sage-primary:                  #B91646;
$theme-sage-secondary:                #105652;
$theme-sage-trinary:                  #FBF3E4;
$theme-sage-background:               #FDFAF5;
$theme-sage-text-color:               #323232;
$theme-sage-link-color:               #ADDFB3;
$theme-sage-hlink-color:              #8ABD91;
$theme-sage-vlink-color:              #9CAF88;

/** Emoji maps **/
$symbol-good:                         "🟢";
$symbol-issue:                        "🟡";
$symbol-bad:                          "🔴";
$symbol-warning:                      "⚠️";
$symbol-alert:                        "🚨";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $theme-default-text-color;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 80%);
  background-color: $theme-default-background;
  overflow-x: hidden;
}

.spacers { 
 padding: 1rem; 
}

a {
  color: $theme-default-link-color;
}

a:hover {
  color: $theme-default-hlink-color;
}

a:visited {
  color: $theme-default-vlink-color;
}

/** Sage.af Project Page **/
.sage {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: $theme-sage-text-color;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 80%);
  background-color: $theme-sage-background;
  width: 100%;
  
  p { 
    text-align: justify;
  }
  
  .container {
    /** dropcap only first P **/
    p:first-of-type:first-letter {
      color: $theme-sage-primary;
      float: left;
      font-weight: bold;
      font-size: 2rem;
      line-height: 1.9rem;
      padding-right: 8px;
      margin-top: -3px;
    } 
  }

  a {
    color: $theme-sage-link-color;
  }

  a:hover {
    color: $theme-sage-hlink-color;
  }

  a:visited {
    color: $theme-sage-vlink-color;
  }
}

/** Art **/

/** Retro Rainbow Text / Wave **/
$theme-retro-wave-one:                #C82F3E;
$theme-retro-wave-two:                #DF453B;
$theme-retro-wave-three:              #D45E20;
$theme-retro-wave-four:               #EA9F1C;
$theme-retro-wave-five:               #F0C71D;
$theme-retro-wave-background:         #F9F0E3;

.header-rainbow-retro {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: $theme-retro-wave-background;
  text-shadow: -2px -2px 0 #323232,
               -2px -1px 0 #323232,
               -2px 0px 0 #323232,
               -2px 1px 0 #323232,
               -2px 2px 0 #323232,
               -1px -2px 0 #323232,
               -1px -1px 0 #323232,
               -1px 0px 0 #323232,
               -1px 1px 0 #323232,
               -1px 2px 0 #323232,
               0px -2px 0 #323232,
               0px -1px 0 #323232,
               0px 0px 0 #323232,
               0px 1px 0 #323232,
               0px 2px 0 #323232,
               1px -2px 0 #323232,
               1px -1px 0 #323232,
               1px 0px 0 #323232,
               1px 1px 0 #323232,
               1px 2px 0 #323232,
               2px -2px 0 #323232,
               2px -1px 0 #323232,
               2px 0px 0 #323232,
               2px 1px 0 #323232,
               2px 2px 0 #323232,
               -4px 4px $theme-retro-wave-one,
               -8px 8px $theme-retro-wave-two,
               -12px 12px $theme-retro-wave-three,
               -16px 16px $theme-retro-wave-four,
               -20px 20px $theme-retro-wave-five;
}

.rainbow-retro {
  position: absolute;
  width: 50vw;
  height: 25vw;
  overflow: hidden;
  background: transparent;
  right: -25vw;
  top: -1vw;
  rotate: 180deg;
}

.rainbow-retro:after {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  top: 12.5vw;
  left: 12.5vw;
  border-radius: 50%;
  z-index: -2;
  box-shadow:
    0 0 0 2vw $theme-retro-wave-one,
    0 0 0 4vw $theme-retro-wave-two,
    0 0 0 6vw $theme-retro-wave-three,
    0 0 0 8vw $theme-retro-wave-four,
    0 0 0 10vw $theme-retro-wave-five;
}

/** Happy Pride Month Rainbow Colors **/
$theme-pride-one:                     #FBF9F5;
$theme-pride-two:                     #FEAEC7;
$theme-pride-three:                   #75D7EF;
$theme-pride-four:                    #613A15;
$theme-pride-five:                    #101010;
$theme-pride-six:                     #E7484F;
$theme-pride-seven:                   #F68B1D;
$theme-pride-eight:                   #FCED00;
$theme-pride-nine:                    #009E4F;
$theme-pride-ten:                     #00AAC3;
$theme-pride-eleven:                  #732982;

.rainbow-pride {
  position: absolute;
  width: 35vw;
  height: 17.5vw;
  overflow: hidden;
  background: transparent;
  right: -17.5vw;
  top: -1.2vw;
  rotate: 180deg;
}

.rainbow-pride:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  box-shadow:
    0 0 0 0.5vw $theme-pride-one,
    0 0 0 1vw $theme-pride-two,
    0 0 0 1.5vw $theme-pride-three,
    0 0 0 2vw $theme-pride-four,
    0 0 0 2.5vw $theme-pride-five,
    0 0 0 3.5vw $theme-pride-six,
    0 0 0 4.5vw $theme-pride-seven,
    0 0 0 5.5vw $theme-pride-eight,
    0 0 0 6.5vw $theme-pride-nine,
    0 0 0 7.5vw $theme-pride-ten,
    0 0 0 8.5vw $theme-pride-eleven;
/** animation **/
-webkit-animation:pride-slidein 2800ms ease-in-out 0s forwards;;
   -moz-animation:pride-slidein 2800ms ease-in-out 0s forwards;;
    -ms-animation:pride-slidein 2800ms ease-in-out 0s forwards;;
     -o-animation:pride-slidein 2800ms ease-in-out 0s forwards;;
        animation:pride-slidein 2800ms ease-in-out 0s forwards;;
  /** animation-delay **/
-webkit-animation-delay:10s;
   -moz-animation-delay:10s;
    -ms-animation-delay:10s;
     -o-animation-delay:10s;
        animation-delay:10s;
}

@keyframes pride-slidein {
  0% {
    top: 100vw;
    right: 100vw;
    width: 1%;
    height: 1%;
  }
  
  100% {
    width: 50%;
    height: 100%;
    top: 8.75vw;
    left: 8.75vw; 
  }
}


/** Fixed height Rotating Text **/
.rotation {
  font: normal 40px/50px Helvetica, Arial, sans-serif;
}

.rotation p {
  height: 50px;
}

.rotation b {
  margin-top: -10px;
  overflow: hidden;
  float: left;
  height: 50px;
  width: 100%;
}

.rotation .innerRotation {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  color: $theme-default-primary;
  white-space: nowrap;

/** animation **/
-webkit-animation:move 10s;
   -moz-animation:move 10s;
    -ms-animation:move 10s;
     -o-animation:move 10s;
        animation:move 10s;
/** animation-iteration-count **/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/** animation-delay **/
-webkit-animation-delay:2s;
   -moz-animation-delay:2s;
    -ms-animation-delay:2s;
     -o-animation-delay:2s;
        animation-delay:2s;
}

/**  KeyFrames **/
@keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}
@-webkit-keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}
@-moz-keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}
@-o-keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}
@keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}


/** whoami Page Theme **/
$theme-whoami-primary:                #FFB562;
$theme-whoami-secondary:              #3AB0FF;
$theme-whoami-trinary:                #FBF3E4;
$theme-whoami-background:             #2E2E31;
$theme-whoami-text-color:             #F9F2ED;
$theme-whoami-link-color:             #ADDFB3;
$theme-whoami-hlink-color:            #8ABD91;
$theme-whoami-vlink-color:            #9CAF88;

.whoami {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  font-family: helvetica, arial, sans-serif;
  background-color: #2E2E31;
  color: #F9F2ED;
  h1, h2, h3 {
     font-family: helvetica, arial, sans-serif;
    background-color: #2E2E31;
    color: #F9F2ED;
  }
}

.whoami-inner {
  width: 100%;
  
  @media only screen and (min-width: 620px) {
    width: 620px;
    margin: 0 auto;
  }
}

.whoami-buffer {
  padding-top: 35px;
  padding-bottom: 25px;
}

/** whoami Page Text Animation **/
.whoami-name {
  color: #fffbf1;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 15vh;
  left: 50vw;
  text-shadow:
             0 16px 20px #2E2E31,
             0 20px 24px #2F2E31;
  transform: translateX(-50%) translateY(-50%);  
}

.whoami-name:before,
.whoami-name:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 8px solid #FFB562;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out spin;
}

.whoami-name:before {
  border-color: #3AB0FF #3AB0FF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.whoami-name:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3AB0FF #3AB0FF;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

@keyframes spin {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

