<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
  </head>
  <body>
    <header class="header">
      <div class="header-image header-image--on" style="background-image: url({{page.background_image}});" data-cms-original-style="background-image: url({{page.background_image}});"></div>
      <div class="header-image"></div>
      <div class="header-overlay"></div>
      {% include header.html %}
    </header>
    <div class="page">
      {{ content }}
    </div>
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </body>
</html>
